.outerMessagesContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 171, 42);
}

#last {
  padding: 0;
  margin: 0;
  height: 1px;
}

.messagesList {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messageContainer {
  padding: 10px 15px;
  width: 100%;
  margin: 10px 20px;
  font-weight: 100;
  color: black;
}